* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html {
	padding-bottom: 80px;
}

body {
	line-height: 1;
	height: 100%;
	padding-top: 0;
	padding-bottom: 20px;
	margin: 0;
	font-family: Helvetica,Helvetica Neue,Arial;
	color: #666;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: circle;
	color: #36F;
}

li {
	margin: 0.5em 0;
}

.body-content a, .body-content a:visited, .body-content a:active {
	color: #36F;
	font: 1.1em 'verdana', 'Helvetica', Arial;
	text-decoration: none;
}

	.body-content a:hover {
		text-decoration: underline;
	}

.body-content {
	width: 75%;
	margin: 0 auto;
	font-size: 1.05em;
}

.placeHolder {
	width: 100px;
}

.dish {
	color: #666;
}

.whiteFat {
	font-family: 'Segoe UI', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	color: white;
	-webkit-text-shadow: 3px 3px 0 #00A, -1px -1px 0 #00A, 1px -1px 0 #00A, -1px 1px 0 #00A, 1px 1px 0 #00A;
	-ms-text-shadow: 3px 3px 0 #00A, -1px -1px 0 #00A, 1px -1px 0 #00A, -1px 1px 0 #00A, 1px 1px 0 #00A;
	text-shadow: 3px 3px 0 #00A, -1px -1px 0 #00A, 1px -1px 0 #00A, -1px 1px 0 #00A, 1px 1px 0 #00A;
	font-weight: 900;
	filter: glow(color=#0000aa, strength=1);
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 0.3%;
}

.logo {
	background: url(KnifeFork.png) left no-repeat;
	-ms-background-size: 50px 50px;
	background-size: cover;
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.3em;
}

h1 {
	font-size: 2em;
	height: 1.5em;
}

h1 img {
	height: 1.5em;
	margin-bottom: -10px;
	margin-left: -1em;
	margin-right: 0.3em;
}

.yesterday {
	float: left;
}

.tomorrow {
	float: right;
}

.yesterday, .tomorrow {
	margin-top: 1.5em;
	padding: 4px;
}

header a {
	font-size: 1.4em;
	color: white;
	text-decoration: none;
}

header a:hover {
	color: #BBDDFF;
	text-shadow: 5px 5px 0 #00A, -1px -1px 0 #00A, 1px -1px 0 #00A, -1px 1px 0 #00A, 1px 1px 0 #00A;
}

header {
	background-color: cornflowerblue;
	text-align: center;
	margin-bottom: 2.5%;
	padding: 1%;
	color: white;
}

.menu {
	padding-bottom: 2%;
}

footer {
	clear: both;
}

@media (max-width: 750px) {
	.body-content {
		width: 85%;
		font-size: 0.95em;
	}

	h1 {
		font-size: 1.75em;
		height: auto;
	}

	.logo {
		width: 40px;
		height: 40px;
	}

	h1 img {
		height: 35px;
		margin-bottom: -6px;
	}

	.yesterday, .tomorrow {
		margin-top: 1.0em;
	}

	.yesterday a, .tomorrow a {
		font-size: 1.2em;
	}
}

@media (max-width: 600px) {
	.body-content {
		margin: 0 10px 0 25px;
		width: auto;
		font-size: 0.9em;
	}

	h1 {
		font-size: 1.5em;
		height: auto;
	}

	.logo {
		width: 30px;
		height: 30px;
	}

	.yesterday, .tomorrow {
		margin-top: 0.5em;
	}

	.yesterday a, .tomorrow a {
		font-size: 1.1em;
	}
}

@media (max-width: 500px) {
	.yesterday, .tomorrow {
		margin-top: auto;
	}

	.yesterday a, .tomorrow a {
		font-size: 1.0em;
	}

	.logo {
		display: none;
	}
}

@media (max-width: 400px) {
	.yesterday a, .tomorrow a {
		font-size: 0.9em;
	}
}

@media (max-width: 319px) {
	.yesterday, .tomorrow {
		display: none;
	}
}
